{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Scholarships List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive" style="overflow:auto;">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                  <th>
                      Scholarship ID
                    </th>
                    <th>
                      Scholarship Name
                    </th>
                    <th>
                      Students
                    </th>
                    <th>
                      Scholarship Description
                    </th>
                  </tr>
                </thead>
                <tbody>
                {% for scholarship in scholarships %}
                  <tr>
                    <td>
                      <a href="{% url 'scholarship_detail' scholarship_id=scholarship.id %}"> {{ scholarship.scholarship_id }} </a>
                    </td>
                    <td>
                      {{ scholarship.name }}
                    </td>
                    <td>
                      <a href="{% url 'scholarship_detail' scholarship_id=scholarship.id %}"> {{ scholarship.student_count }} </a>
                    </td>
                    <td>
                      {{ scholarship.description }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
