{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Sessions List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Session Name
                    </th>
                    <th>
                      Session Mode
                    </th>
                    <th>
                      Start Date
                    </th>
                    <th>
                      End Date
                    </th>
                    <th>
                      Students
                    </th>
                  </tr>
                </thead>
                <tbody>
                {% for session in sessions %}
                  <tr>
                    <td>
                      <a href="{% url 'session_detail' session_id=session.id %}"> {{ session.name }} </a>
                    </td>
                    <td>
                      {{ session.mode }}
                    </td>
                    <td>
                      {{ session.start_date }}
                    </td>
                    <td>
                      {{ session.end_date }}
                    </td>
                    <td>
                      <a href="{% url 'session_detail' session_id=session.id %}"> {{ session.student_count }} </a> 
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
